<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nanoBrowse Account Viewer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom.css') }}"
    />
    <script
      defer
      data-domain="nanobrowse.com"
      src="https://plausible.bnano.info/js/script.js"
    ></script>
  </head>
  <body
    data-get-delegators-for-account="{{ account_data.account }}"
    class="bg-gray-100"
  >
    {% include 'header/nanobrowse.html' %}
    <div class="container mx-auto bg-gray-100 mx-4 my-6 w-400">
      <!-- Account address -->
      <div class="text-center mb-2">
        <span
          class="bg-{% if account_data['show_weight'] %}yellow-300 text-gray-700{% else %}blue-500 text-white{% endif %} text-sm px-2 py-1 rounded overflow-hidden whitespace-nowrap"
        >
          <i class="copy_btn" data-value="{{ account_data.account }}"></i>
          <a href="{{ request.url_root }}account/{{ account_data.account }}"
            >{{ account_data.account }}</a
          >
        </span>
        {% if account_data.is_known_account %}
        <div class="text-center mb-2 relative group">
          <span
            class="bg-{% if account_data['show_weight'] %}yellow-300 text-gray-700{% else %}blue-500 text-white{% endif %} text-sm px-2 py-1 rounded overflow-hidden whitespace-nowrap"
          >
            {% if account_data.known_account.url %}
            <a href="{{ account_data.known_account.url }}">
              {{ account_data.known_account.name }}</a
            >
            {% else %} {{ account_data.known_account.name }} {% endif %}
          </span>
          {% if account_data.known_account.paid %}
          <!-- Tooltip for paid aliases -->
          <span class="ml-2 cursor-pointer relative group">
            <i class="fa fa-info-circle"></i>
            <span
              class="absolute left-full ml-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 w-64 text-sm bg-gray-900 text-white p-2 rounded-lg shadow-md z-10"
            >
              '{{ account_data.known_account.name }}' is a paid alias,<br />registered
              on {{ account_data.known_account.reg_date }}
            </span>
          </span>
          {% endif %}
        </div>
        {% endif %} {% if account_data['is_pr'] %}
        <span
          class="text-left bg-yellow-400 text-gray-700 text-xs ml-4 px-2 py-1 rounded"
          >Principal Representative</span
        >
        {% endif %}
      </div>

      {% include 'account_viewer/account_info.html' %}

      <div
        id="tableSubBtns"
        class="mt-4 text-xs flex items-center justify-center space-x-2">
        <button
          id="groupedTransactionTableSubBtn"
          data-default-color="bg-gray-800"
          data-active-color="bg-blue-500"
          data-show-table="groupedTransactionTable"
          class="bg-gray-800 text-white px-3 py-1 rounded focus:outline-none"
          title="Group transactions by type and account and sort by amount."
        >
          Grouped Flows
        </button>

        <button
          id="transactionTableSubBtn"
          data-default-color="bg-gray-800"
          data-active-color="bg-blue-500"
          data-show-table="transactionTable"
          class="bg-blue-500 text-white px-3 py-1 rounded focus:outline-none"
        >
          Timeline
        </button>
      </div>

      {% include 'account_viewer/receivable_table.html' %} {% include
      'account_viewer/delegators_table.html' %} {% include
      'account_viewer/history_table.html' %}

      <script src="{{ url_for('static', filename='js/common.js') }}"></script>
      <script src="{{ url_for('static', filename='js/delegators.js') }}"></script>
      <script src="{{ url_for('static', filename='js/receivables.js') }}"></script>
      <script src="{{ url_for('static', filename='js/account_history.js') }}"></script>
    </div>
  </body>
</html>
