<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nanoBrowse Block Viewer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script defer data-domain="nanobrowse.com" src="https://plausible.bnano.info/js/script.js"></script>
  </head>
  <body class="bg-gray-100">
    {% include 'header/nanobrowse.html' %}

    <div class="flex flex-col items-center mx-4 my-6 sm:mx-auto max-w-screen-md">
      {% if block_data.is_change %} {% include 'block_viewer/change.html' %} {% else %} {% include
      'block_viewer/send_receive.html' %} {% endif %}
    </div>

  </body>
</html>
